.main{
    background-color: #123753;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
}
.addSection{
    display: flex;
    flex-direction: row;
}
.cardSection{
    display: flex;
    flex-direction: row;
    margin: 10px;
}